<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Phoenix</title>
  </head>
  <body>

    <!-- Navbar -->
    <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="https://github.com/marius004/phoenix">Phoenix</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="https://github.com/marius004/phoenix/blob/master/api/api.go">Documentation <span class="sr-only">(current)</span></a>
            </li>
        </div>
      </nav>

      <!-- Jumbotron -->
      <div class="jumbotron jumbotron-fluid text-white">
        <div class="container">
          <h1 class="display-4">Phoenix</h1>
          <p class="lead">
            The API does not currently have a public documentation.
          </p>
          <p class="lead">
              However, you can see the self-documenting source code which is available on <a href="https://github.com/marius004/phoenix">github.com</a>
          </p>
        </div>
      </div>

      <!-- Cards -->

      <div class="container" id="cards">
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top" src="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:705/https://www.filepicker.io/api/file/O8dz87hXSheB05h3nO4M" alt="Gopher">
                    <div class="card-body">
                    <h5 class="card-title">Written in</h5>
                    <p class="card-text">Golang</p>
                    <a href="https://golang.org/" class="btn btn-primary">golang.org</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top" src="https://camo.githubusercontent.com/f72d07b7d898f8935d557867df17416a1b430a2572f8ea1bae57d1700f5c754b/68747470733a2f2f63646e2e7261776769742e636f6d2f676f2d6368692f6368692f6d61737465722f5f6578616d706c65732f6368692e737667" alt="Chi">
                    <div class="card-body">
                    <h5 class="card-title">Using </h5>
                    <p class="card-text">Go Chi</p>
                    <a href="https://github.com/go-chi/chi" class="btn btn-primary">go-chi</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xMS41IC0xMC4yMzE3NCAyMyAyMC40NjM0OCI+CiAgPHRpdGxlPlJlYWN0IExvZ288L3RpdGxlPgogIDxjaXJjbGUgY3g9IjAiIGN5PSIwIiByPSIyLjA1IiBmaWxsPSIjNjFkYWZiIi8+CiAgPGcgc3Ryb2tlPSIjNjFkYWZiIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiPgogICAgPGVsbGlwc2Ugcng9IjExIiByeT0iNC4yIi8+CiAgICA8ZWxsaXBzZSByeD0iMTEiIHJ5PSI0LjIiIHRyYW5zZm9ybT0icm90YXRlKDYwKSIvPgogICAgPGVsbGlwc2Ugcng9IjExIiByeT0iNC4yIiB0cmFuc2Zvcm09InJvdGF0ZSgxMjApIi8+CiAgPC9nPgo8L3N2Zz4K" alt="Chi">
                    <div class="card-body">
                    <h5 class="card-title">Frontend </h5>
                    <p class="card-text">React</p>
                    <a href="https://reactjs.org/" class="btn btn-primary">reactjs.org</a>
                    </div>
                </div>
            </div>
        </div>
      </div>
     
     <!-- Footer -->

    <footer class="text-center text-lg-start bg-light text-muted">  
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2021 Copyright:
            <a class="text-reset fw-bold" href="https://github.com/marius004/phoenix">Phoenix</a>
        </div>
  </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
    <style>
        body, html {
            background-color: #eeeeee;
        }
        #navbar {
            opacity: 0.88;
        }
        .jumbotron {
            height: 60vh;
            background-image: url("https://steemitimages.com/DQmRPWn6RqPY9cdFjREFm9UaHDYUAQY11SbEMHQTbsmWndU/Importance-of-Phoenix.jpg");
            background-size: cover;
        }
        #cards {
            margin-bottom: 40px;
        }
        #cards img {
            height: 200px;
        }
    </style>
    </body>
</html>